
.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.btn-fill-primary, .btn-primary{
    background-color: var(--primary-btn);
    border-color: var(--primary-btn);
//     border-color: darken($primary, 5%);

    &:hover{
        //background-color: darken($primary, 2%);
        //border-color: darken($primary, 10%);
        //box-shadow: 0 4px 15px rgba($primary, 0.4);
        //box-shadow: 0 2px 6px var(--primary-btn);
        background-color: var(--primary-btn);
        border-color: var(--primary-btn);
    }

    &:not(:disabled):not(.disabled):active{
//         background-color: darken($primary, 4%);
//         border-color: darken($primary, 15%);
        background-color: var(--primary-btn);
        border-color: var(--primary-btn);
        box-shadow: 0 4px 8px rgba($primary, 0.3);

    }
    &:focus{
         outline: none;
         box-shadow: none;
    }
}
.btn{
  box-shadow: none !important;
}
.o_web_client{
  .btn-link{
    color: var(--primary);
  }
}
.btn-fill-primary.disabled,
.disabled.btn-primary,
.btn-fill-primary:disabled,
.btn-primary:disabled{
  background-color: var(--primary);
  border-color: var(--primary);
}